#console-screen {
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

#console-content {
    margin: 10px;
}

pre {
    font-family: monospace, monospace;
    font-size: 14px;

    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: break-word;
}
