#console-screen {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#console-content {
    margin: 10px;
}

pre {
    font-family: Consolas;
    font-size: 16px;
    color: #aaa;
    line-height: 16px;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: break-word;
}
