#editor {
    overflow: hidden;
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
}

.tabArea {
    background-color: #252526;
	height: 30px;
}

.tab {
    font-size: 11px;
    margin-right: 1px;
    height: 30px;
    background-color: #2d2d2d;
	line-height: 30px;
    color: #969696;
    padding-left: 10px;
	padding-right: 50px;
	cursor: pointer;
	float: left;
}

.tab.active {
    background-color: #1e1e1e;
	color: white;
}